<div class='col-sm-2 inbox-outbox-card left'>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item mb-3" role="presentation" onclick="window.location.href = '/messages'">
      <button class="nav-link <%= params[:box] != 'outbox' ? 'active' : '' %> inbox-outbox-link" id="inbox-tab" data-bs-toggle="tab" data-bs-target="#inbox" type="button" role="tab" aria-controls="inbox" aria-selected="true">INBOX <span class="small <%= params[:box] != 'outbox' ? 'text-white' : 'text-secondary' %>"><%= "(#{user.inbox.messages.unread.count})" if user.inbox.messages.unread.any? %></span></button>
    </li>
    <li class="nav-item" role="presentation" onclick="window.location.href = '/messages?box=outbox'">
      <button class="nav-link <%= params[:box] == 'outbox' ? 'active' : '' %> inbox-outbox-link" id="outbox-tab" data-bs-toggle="tab" data-bs-target="#outbox" type="button" role="tab" aria-controls="outbox" aria-selected="false">OUTBOX</button>
    </li>
  </ul>
</div>
