/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

body {
  background-image: url("background.png");
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  background: #27b9aa;
  color: white;
}

.navbar a {
  color: white;
}

.nav.nav-tabs {
  border: none;
}

.nav.nav-tabs li button {
  border: none;
}

.nav-tabs .nav-link {
  background: white;
  color: black;
  border-radius: 0.25em;
  outline: none !important;
}

.nav-tabs .nav-link.active {
  background: #27b9aa;
  color: white;
}

.inbox-outbox-link span.active {
  color: white;
}

.user-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.user-page .select-user {
  font-size: 26px;
  margin-bottom: 20px;
}

.user-page .select-user-box {
  padding: 10px 22px;
  font-size: 18px;
  margin-right: 10px;
  border: none;
  border-radius: 0.25rem;
}

.inbox-outbox-card {
  padding: 20px;
  border-radius: 10px;
  background: white;
}

.inbox-outbox-card.left {
  height: fit-content;
}

.unread {
  color: #27b9aa;
}

.bg-unread {
  background: #f3f3f3;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

.pagination > * {
  margin-left: 10px;
}
